pkg
src
tmp
*.changes
*.tar.gz
*.tar.xz
*.build
*.dsc
*.upload
*.deb
*.log
*.bkp
*.substvars
*.swp
*/debian/files
*_ppa_ok
.builder-*
.build-*
.install-*
.download-*
godeb
*.buildd
variables.local.mk
localrepo
